streamlit
pandas
numpy
matplotlib
seaborn
plotly
langchain
langchain-openai
langchain-community
langgraph
tavily-python
langchain-tavily
nltk
rouge-score
sentence-transformers
scikit-learn
textdistance
openpyxl
python-dotenv
asyncio-throttle